<div class="flex flex-col mt-16 justify-around w-full">
  <app-input (shorten)="shortenTrigger()" (linkEmitter)="linkTrigger($event)"></app-input>
  <app-output class="mt-2" *ngIf="isShortLinkReady"></app-output>
</div>
