<div class="flex w-full">
  <div class="w-3/5 text-2xl mr-2 text-blue-400">{{this.link?.shortUrl}}</div>
  <button class="w-1/5 text-2xl bg-blue-400 text-white ml-2" (click)="copyToClip(this.link?.shortUrl)">Copy</button>
</div>
